<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>Controllers.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controllers.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>Controllers.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>Controllers.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyController</servlet-name>
        <servlet-class>Controllers.BuyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Controllers.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryManagementController</servlet-name>
        <servlet-class>Controllers.CategoryManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManagementController</servlet-name>
        <servlet-class>Controllers.ProductManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManagementController</servlet-name>
        <servlet-class>Controllers.OrderManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>Controllers.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShippingManagementController</servlet-name>
        <servlet-class>Controllers.ShippingManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManagementController</servlet-name>
        <servlet-class>Controllers.UserManagementController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/Home/*</url-pattern>
        <url-pattern>/</url-pattern>
        
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/Account/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/Cart/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/Category/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/Product/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyController</servlet-name>
        <url-pattern>/Buy/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/Admin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryManagementController</servlet-name>
        <url-pattern>/CategoryManagement/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManagementController</servlet-name>
        <url-pattern>/ProductManagement/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManagementController</servlet-name>
        <url-pattern>/OrderManagement/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/User/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShippingManagementController</servlet-name>
        <url-pattern>/ShippingManagement/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManagementController</servlet-name>
        <url-pattern>/UserManagement/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
